.cards-container {
    display: flex;
    gap: 50px;
    overflow-x: auto; /* Allow horizontal scrolling */
    transform: rotate(90deg); /* Rotate the container to mimic horizontal phone hold */
    transform-origin: left bottom; /* Set the rotation origin */
  }
  

  .image-container img {
    overflow: hidden;
    height: 200px;
  }
  
  /* Media query for mobile screens */
  @media (max-width: 768px) {
    .cards-container {
      flex-direction: column;
      overflow-x: hidden;
      transform: none; /* Reset rotation for small screens */
    }
  
 
  
    
  }